.container-buscador {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    min-height: 70vh;
    overflow: hidden;
    background-color: rgba(66, 61, 61, 0.753);
}

.container-buscador > span {
    align-self: flex-end;
    padding-right: 1.5em; 
    background-color: aqua;  
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60ch;
    max-width: 100ch;
    gap: 1rem;
}

.form-container > button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    cursor: pointer;
    align-self: center;
}

.form-container > button:hover {
    text-decoration: underline;
}

.wrapper {
    display: flex;
    width: max-content;
}

.arrow {
    height: 100%;
    width: 2em;
    color: white;
}

.container-ul {
    width: 100%;
    display: flex;
    margin-top: 1em;
}
.container-li {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.form-container > input {
    width: 100%;
    min-height: 1.4rem;
    background-color: white;
    border-radius: 3px;
    border-color: rgb(219, 214, 214);
}

.label {
    padding-right: 10px;
    color:rgba(66, 61, 61, 0.945);
    font-size: 1.5rem;
}

.favOk {
    color: white;
}