.container-buscador {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.928);
}

.sort-tittle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    color:#e5e5e5;
    /* font-size: 0.2rem; */
}

/* .title {
    font-size: 10px;
    padding-left: 0.5em
} */


.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60ch;
    max-width: 100ch;
    gap: 1rem;
}

.form-container > button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    cursor: pointer;
    align-self: center;
}

.form-container > button:hover {
    text-decoration: underline;
    color: wheat;
}

/* Slider movies */
.container-ul {
    width: 100%;
    display: flex;
    margin-top: 1em;
    height: 68vh;
}

 .wrapper {
    display: flex;
    width: max-content;
    font-size: 1rem;
} 

.arrowleft {
    font-size: 2rem;
    width: 45px;
    height: 75%;
    margin-bottom: 2em;
    color: white;
}

.container-li {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-left: 1em;
}

.form-container > input {
    width: 100%;
    min-height: 1.4rem;
    background-color: white;
    border-radius: 3px;
    border-color: rgb(219, 214, 214);
}

.label {
    padding-right: 10px;
    color:#e5e5e5;
    font-size: 1.5rem;
}
