.movi-container {
    display: flex;
    flex-direction: column;
    max-width:60%;
    width: 50%;
    min-height: 20%;
    margin-right: 0.1em;
}

.img-div {
    height: 70%;
    border: 1.5px solid black;
    border-radius: 1%;
    display: flex;
    justify-content: center;
}

.movi-img {
    object-fit: contain;
}

.data-container {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    font-size: 0.8rem;
    width: 90%;
    min-height: 15%;
    color: #e5e5e5;
}
.data-container > h2 {
    width: 100%;
}

.fav-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.1rem;
}

.fav-container > p {
    text-decoration:underline;
}

